
<div class="container">

    <div class="logo">
        <!-- <img src="https://t4.ftcdn.net/jpg/02/90/98/39/360_F_290983972_mYCCKvVWzmQUhNoWIdwjSdlPADb3Prf2.jpg" alt="" srcset="" width="50px" height="50px"> -->
        <span>SendIT</span>
    </div>

    <div class="links">
        <a *ngIf="!authService.isLoggedIn()"  routerLink="">HOME</a>
        <a *ngIf="!authService.isLoggedIn()"  routerLink="">ABOUT</a>
        <a *ngIf="!authService.isLoggedIn()"  routerLink="">PRICING</a>
        <a *ngIf="!authService.isLoggedIn()"  routerLink="">TRACKING</a>

    </div>

    <div class="buttons">
        <button *ngIf="!authService.isLoggedIn()" class="btn-login" routerLink="auth/login">Log in</button>
        <button *ngIf="!authService.isLoggedIn()" routerLink="auth/register">Sign Up</button>
        <button *ngIf="authService.isLoggedIn()" (click)="onLogout()">Log out</button>
    </div>

 
    

</div>

