<!-- <p>register works!</p> -->
<div class="container">
  <div class="register">
    <h2>REGISTER</h2>
    <div>
      <p style="color: green;" *ngIf="created">Account created successfully</p><br>
      <p *ngIf="untouched" style="color:red">All fields must be filled</p>
      <h4>Hello there!!!</h4>
      <p>You need an account to continue</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onRegister()">
      <div class="form-control">
        <label for="username">USERNAME</label>
        <input type="text" required formControlName="username" />
        <p class="error" *ngIf="!form.get('username')!.valid && form.get('username')!.touched">*please enter a valid username</p>
      </div>
      <div class="form-control">
        <label for="email">EMAIL</label>
        <input type="email" required formControlName="email" />
        <p class="error" *ngIf="!form.get('email')!.valid && form.get('email')!.touched">*please enter a valid email</p>
      </div>
      <div class="form-control">
        <label for="password">PASSWORD</label>
        <input type="password" required formControlName="password" />
        <p class="error" *ngIf="!form.get('password')!.valid && form.get('password')!.touched">*password must be atleast 8 characters Long</p>
      </div>

      <button type="submit"  [disabled]="form.valid">SIGN UP</button>
    </form>
  </div>
</div>
