<div class="container">
    <div class="parcelform">
      <h3>UPDATE PARCEL ORDER</h3>
      <!-- *ngIf="emails$ | async as emails" -->
  
      <form [formGroup]="updateparcelform" (ngSubmit)="updateParcel()" >
        <!-- <p *ngIf="error"  style="background-color: red"></p> -->
        <!-- <p *ngIf="noerror"  style="background-color: rgb(17, 245, 17)">parcel updated successfully!!!</p> -->
        <div class="form-control">
          <label for="senderemail">SENDER EMAIL</label>
          <select formControlName="senderemail">
            <option value="gamesmy177@gmail.com">gamesmy177@gmail.com</option>
            <option value="jonathanndambuki16@gmail.com">jonathanndambuki16@gmail.com</option>
            <option value="lxwaihenya@gmail.com">lxwaihenya@gmail.com</option>
          </select>
        </div>
     
        <div class="form-control">
          <label for="receiveremail">RECEIVER EMAIL</label>
          <select formControlName="receiveremail">
            <option value="lxwaihenya@gmail.com">lxwaiheny@gmail.com</option>
            <option value="kakinyidk@gmail.com">kakinyidk@gmail.com</option>
            <option value="jonathanndambuki16@gmail.com">jonathanndambuki16@gmail.com</option>
          </select>
        </div>
     
        <div class="form-control">
          <label for="parcel_desc">PARCEL DESCRIPTION</label>
          <input type="text" required formControlName="parcel_desc" />
          
        </div>
        <div class="form-control">
          <label for="from">FROM</label>
          <input type="text" required formControlName="fromLoc" />
        </div>
        <div class="form-control">
          <label for="to">TO</label>
          <input type="text" required formControlName="toLoc" />
        </div>
     
        <!-- <div class="form-control">
          <label for="dispatch_date">DISPATCH DATE</label>
          <input type="date" required formControlName="dispatch_date" />
        </div>
        <div class="form-control">
          <label for="delivery_date">DELIVERY DATE</label>
          <input type="date" required formControlName="delivery_date" />
        </div> -->
        <div class="form-control">
          <label for="status">STATUS</label>
          <select formControlName="status">
            <option value="sent">sent</option>
            <option value="delivered">Delivered</option>
          </select>
          
        </div>
        <div class="form-control">
          <label for="weight">WEIGHT</label>
          <input type="number" required formControlName="weight" min=0 />
        </div>
        <div class="form-control">
          <label for="price">PRICE</label>
          <input type="number" required formControlName="price" min=0 />
        </div>
  
        <button [disabled]="!updateparcelform.valid" type="submit">UPDATE PARCEL</button>
      </form>
    </div>
  </div>
  