<div class="container">
  <table >
    <tr>
     
      <th>customer name</th>
      <th>email</th>
      <th>phone</th>
      <th>status</th>
      <th>action</th>

    </tr>

    <tr>
      <td>Alex</td>
      <td>abc@gmail.com</td>
      <td>0717020074</td>
      <td>Active</td>
      <td><button>DELETE</button></td>
    </tr>

    <tr>
      <td>Alex</td>
      <td>abc@gmail.com</td>
      <td>0717020074</td>
      <td>Active</td>
      <td><button>DELETE</button></td>
    </tr>
  </table>
</div>
