<div class="container">
  <table >
    <tr>
      <th></th>
      <th>RECEIVER EMAIL</th>
      <th>DESTINATION</th>
      <th>PARCEL DESC</th>
      <th>STATUS</th>
      <th>PRICE</th>
      <th>WEIGHT</th>
      <th>ACTION</th>
    </tr>

    <tr>
      <td>1</td>
      <td>abc@gmail.com</td>
      <td>Nairobi</td>
      <td>Fragile</td>
      <td>dispatched</td>
      <td>$24</td>
      <td>34kg</td>
      <td><i class="fa-solid fa-trash"></i></td>
    </tr>

    <tr>
      <td>2</td>
      <td>abc@gmail.com</td>
      <td>Nairobi</td>
      <td>Fragile</td>
      <td>delivered</td>
      <td>$24</td>
      <td>34kg</td>
      <td><i class="fa-solid fa-trash"></i></td>
    </tr>
  </table>
</div>
