<div class="container">
  <div class="admin-container">
    <div class="admin-dashboard">
      <div class="admin-profile">Welcome Admin</div>

      <div class="admin-controls">
        <h4>DASHBOARD</h4>
        <div>
          <a routerLink="/admin/all-orders">ALL ORDERS</a>
        </div>
        <div>
          <a routerLink="/admin/dispatched-orders">DISPATCH</a>
        </div>
        <div>
          <a routerLink="/admin/delivered-orders">DELIVERED</a>
        </div>
        <div>
          <a routerLink="/admin/clients">CUSTOMERS</a>
        </div>
      </div>

      <div class="admin-controls">
        <a routerLink="/admin/new-parcel-order">CREATE ORDER</a>
      </div>
    </div>

    <div>
      <router-outlet></router-outlet>

      <!-- <div class="search-container">
                <span>Search:</span>
                <input type="search">
            </div> -->
    </div>
  </div>
</div>
