<!-- <div class="container">
  <div class="parcel-container">
    <div class="parcel-details">
      <div class="location">
        <p>FROM NYERI TO MSA</p>
        <p>DISPATCHED</p>
      </div>

      <P>FRAGILE</P>
      <p>ALEX WAIHENYA</p>
      <P>0717020074</P>

      <div class="view">
        <button class="btn-view">VIEW</button>
      </div>
    </div>

    <div class="parcel-details">
      <div class="location">
        <p>FROM NYERI TO MSA</p>
        <p>DISPATCHED</p>
      </div>

      <P>FRAGILE</P>
      <p>ALEX WAIHENYA</p>
      <P>0717020074</P>

      <div class="view">
        <button class="btn-view">VIEW</button>
      </div>
    </div>

    <div class="parcel-details">
      <div class="location">
        <p>FROM NYERI TO MSA</p>
        <p>DISPATCHED</p>
      </div>

      <P>FRAGILE</P>
      <p>ALEX WAIHENYA</p>
      <P>0717020074</P>

      <div class="view">
        <button class="btn-view">VIEW</button>
      </div>
    </div>
    <div class="parcel-details">
      <div class="location">
        <p>FROM NYERI TO MSA</p>
        <p>DISPATCHED</p>
      </div>

      <P>FRAGILE</P>
      <p>ALEX WAIHENYA</p>
      <P>0717020074</P>

      <div class="view">
        <button class="btn-view">VIEW</button>
      </div>
    </div>
    <div class="parcel-details">
      <div class="location">
        <p>FROM NYERI TO MSA</p>
        <p>DISPATCHED</p>
      </div>

      <P>FRAGILE</P>
      <p>ALEX WAIHENYA</p>
      <P>0717020074</P>

      <div class="view">
        <button class="btn-view">VIEW</button>
      </div>
    </div>
  </div>
</div> -->
