<!-- <p>header works!</p> -->

<div class="container">

    <div class="logo">
        <img src="" alt="" srcset="">
        <span>SendIT</span>
    </div>

    <div class="links">
        <a routerLink="">HOME</a>
        <a routerLink="">ABOUT</a>
        <a routerLink="">PRICING</a>
        <a routerLink="">TRACKING</a>

    </div>

    <div class="buttons">
        <button class="btn-login" routerLink="auth/login">Log in</button>
        <button routerLink="auth/register">Sign Up</button>
    </div>
    

</div>

