<!-- <p>homepage works!</p> -->

<div class="banner">

    <div class="section-a">
        <h4>SUPER FAST DELIVERY</h4>
        <h1>We have faster <br>
            delivery in <br>
            your town
        </h1>

        <p>We are most faster and favourite service <br>
            all over the town
        </p>
        <button> Get Started</button>
    </div>

    <div class="section-b">
        <!-- <img src="https://img.freepik.com/free-psd/fast-delivery-man-red-costume_23-2148462367.jpg?w=826&t=st=1662467156~exp=1662467756~hmac=3fca4af2032064282bce3f55f784b0f41e43d06b72dada22ca2b88c737b626da" alt="" srcset=""> -->

        <img src="https://media.istockphoto.com/photos/delivering-parcels-picture-id1413704852?b=1&k=20&m=1413704852&s=170667a&w=0&h=iAXcRgybmThEQNmCaDFQgKt3YuMx8sp3M6KeGoFz0l4=" alt="" srcset="">
        <!-- <img src="https://cdn.pixabay.com/photo/2021/07/26/01/37/delivery-6493127__340.png" alt="" srcset=""> -->
        <!-- <img src="https://media.istockphoto.com/photos/weve-got-you-covered-during-lockdown-picture-id1287632111?b=1&k=20&m=1287632111&s=170667a&w=0&h=PvIcxOiA4Ofhy3FN6S4gcJXlU-EfsmkDnBKt3HmZNw8=" alt="" srcset=""> -->
        <!-- <img src="https://images.unsplash.com/photo-1566576721346-d4a3b4eaeb55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGVsaXZlcnl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" srcset=""> -->
    </div>




</div>



